.main-sidebar {
    border-right: 1px solid #ddd;
}
.skin-black-light .content-wrapper, .skin-black-light .main-footer {
    border-left: 0px solid #d2d6de;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #e4b9c0;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: gray;
}
.text-left{
    text-align:left !important;
    padding-left:5px;
}
.text-right{
    text-align:right !important;
}
.text-center{
    text-align:center !important;
}
.margin-top-10px{
    margin-top:10px !important;
}

.table-style td{
    padding: 7px;
}
.table-style-main td{
    padding: 5px;
    border:1px solid #d0d0d0;
}
.table-style-main th{
    padding: 7px;
    border:1px solid #d0d0d0;
}
#show_error_save{
    color:red;font-weight: bold;font-size: 18px;
}

address p {
    margin: 0px;
}
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.table-style td{
    padding-top:1px;
    padding-bottom:1px;
    padding-left:5px;
    border: 1px solid #d0d0d0;
    text-align: center;
}
.table-style th{
    border: 1px solid #d0d0d0;
    text-align: center;
}
.width10per{
    width:10% !important;
}
.width15per{
    width:15% !important;
}
.width20per{
    width:20% !important;
}
.width30per{
    width:30% !important;
}
.width35per{
    width:35% !important;
}
.width70per{
    width:70% !important;
}
.width80per{
    width:80% !important;
}

.width100per{
    width:100% !important;
}
.font-weight-bold{
    font-weight: bold !important;
}

.ui-autocomplete { z-index:2147483647; }

/*Bar code Printing start */

.dashboard-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}
.dashboard-section > button {
    /*margin-left: 10px;*/
}
.barcode-label-container {
    /*border: 1px solid #333;*/
    width: fit-content;
    overflow: hidden;
    margin-top:2px;
    margin-left: 5px;
}
.barcode-label {
    background-color: #ffffff;
    /*background-color: yellow;*/
    color: #000000;
    box-sizing: border-box;
    height: 24.8mm;
    width: 35mm;
    /*padding: 1.5mm;*/
    display: grid;
    grid-template-columns: 1fr 6mm;
    grid-template-rows: 4mm 1fr 17.5mm;
    grid-template-areas: 'header footer' 'text footer' 'barcode footer';
    font-family: monospace;
    font-size: 8pt;
    line-height: 1.2;
    text-align: center;

}
.barcode-rotated {
    line-height: 6mm;
    transform: translate(calc(-12.5mm), 0) rotate(-90deg);
    transform-origin: center center;
    height: 6mm;
    width: calc(31mm);
}
.barcode-header {
    grid-area: header;
    text-transform: uppercase;
}
.barcode-text {
    grid-area: text;
    text-transform: uppercase;
    /*height: calc(28.8pt);*/
    overflow-y: hidden;
    align-self: center;
    margin-top: 7px !important;
}
.barcode-area {
    grid-area: barcode;
    align-self: center;
}
.barcode-foot {
    grid-area: footer;
    font-size: 10px;
    align-self: center;
}

.barcode-strong {
    font-weight: bold;
}
.print-button {
    width: 77px;
    height: 76px;
    position: fixed;
    padding: 5px;
    bottom: 30px;
    right: 30px;
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    line-height: 36px;
    -moz-border-radius: 6px 20px 6px 20px;
    -webkit-border-radius: 6px 20px 6px 20px;
    border-radius: 6px 20px 6px 20px;
    z-index: 9999;
}
/*Barcode pirnting End*/